*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nanum Pen Script;
}


/* Custom variables */
:root{
    --primary: rgb(0, 0, 0);
    --secondary: black;
    --alternative: hsla(100, 13%, 28%, 0.7);
    --bgHeaderFooter: #F080B7;
    --awesome: darkolivegreen;
    --bgCAbout: #56744o;
    --mainBox-shadow: .2rem .2rem .1rem •2rem rgba (105, 96, 96, 0.75);
    --card-box-shadow: •5vw .5vw 1vw rgba (85, 94, 99, 0.9);
    --text-shadow: 3rem .3rem .4rem rgba (78, 107, 91, 0.5);
    --mainBg: Ohsla(145, 83%, 20%, 0.39);
    --bgImg: linear-gradient(to right, var (--awesome), var (--mainBg))
}

/* Navbar & Footer*/
:is(.navbar, footer){
    background-color: var(--bgHeaderFooter);
}
/* Navbar */
:is(.nav-link) {
    color: black !important;
    text-align: center;
}

/* Navbar */
a{
    transition: all .5s;

    &:hover {
        transform: scale(1.2);
        text-decoration: underline;
    }
}

/* home page logo */
img[alt='Asheeka1'] {
    width: 30rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 8px 0 #F9D9E6;
}

/* About */
.about {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    color: black;
   
  }
  
  .infoBlocks {
    border: 2px solid black;
    max-width: 1700px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F080B7;
  }
  .personal {
    text-align: left;
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .leftSide {
    width: 68%;
    border-right: 2px solid black;
  }
  
  ul {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  li {
    margin-top: 20px;
  }
  
  h1 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  h2 {
    margin: 20px;
  }
  
  .pic {
    border-radius: 150px;
    width: 250px;
    margin: auto;
  }
  
  p {
    line-height: 25px;
  }
  
  .picture {
    margin: 20px;
  }

   @media only screen and (max-width: 1700px){
    .infoBlocks {
      width: 90%;
    }
  }
  @media only screen and (max-width: 960px){
    .infoBlocks {
      width: 100%;
      flex-direction: column;
      border: none;
    }
    .leftSide {
      border: none;
      margin: auto;
    }
    .personal, ul {
      text-align: center !important;
      text-wrap: wrap;
    }
  }
  @media only screen and (max-width: 570px) {
    .mail {
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 440px) {
    .mail {
      font-size: 12px;
    }
    .rightSide {
      margin: 0px !important;
      width: 100%;
  }
  .leftSide {
    width: 100% !important;
  }
  }
  @media only screen and (max-width: 372px) {
    .mail {
      font-size: 9px;
    }
    .personal {
      font-size: 20px;
      text-wrap: wrap;
      margin: 0px;
    }
    .specialities {
      width: 100%;
      /* margin: 0px !important; */
      /* padding: 0px !important; */
  }
  h2 {
    margin: 10px;
  }
  }

/* Navbar logo */
img[alt='logo1'] {
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

/* Grid layout */
/* :is(body){
    display:grid;
    text-align: center;

} */
/* Create three rows */
:is(body){
    grid-template-rows: auto
    minmax(100%, 100dvh) auto;

}

/* footer */
footer {
    background-color: #F080B7;
    padding: 20px 0;
    text-align: center;
    color: black !important;
    width: 100%;
}

.card1 {
    width: 60px;
    height: 60px;
    outline: none;
    border: 3px solid #F9D9E6;
    background: transparent;
    border-radius: 90px 5px 5px 5px;
    transition: .2s ease-in-out;
}

.instagram {
    margin-top: 0.8em;
    margin-left: 0.6em;
    fill: white;
}

.card2 {
    width: 60px;
    height: 60px;
    outline: none;
    border: 3px solid #F9D9E6;
    background: transparent;
    border-radius: 5px 90px 5px 5px;
    transition: .2s ease-in-out;
}

.facebook {
    margin-top: 0.8em;
    margin-left: -.5em;
    fill: white;
}

.card3 {
    width: 60px;
    height: 60px;
    outline: none;
    border: 3px solid #F9D9E6;
    background: transparent;
    border-radius: 5px 5px 5px 90px;
    transition: .2s ease-in-out;
}

.github {
    margin-top: -.4em;
    margin-left: 0.8em;
    fill: white;
}

.card4 {
    width: 60px;
    height: 60px;
    outline: none;
    border: 3px solid #F9D9E6;
    background: transparent;
    border-radius: 5px 5px 90px 5px;
    transition: .2s ease-in-out;
}

.linkedin {
    margin-top: -.6em;
    margin-left: -0.6em;
    fill: white;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;

}

.card1:hover .instagram {
    fill: white;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;

}

.card2:hover .twitter {
    fill: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;

}

.card3:hover .github {
    fill: white;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;

}

.card4:hover .discord {
    fill: white;
}

/* main bg color */
main {
    background-color: #F9D9E6;
}

/* testimonial cards */
.col {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    padding: 20px;

  }
  
  .card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    scroll-snap-align: start;
    border: 2px solid black;
    transition: all .5s;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 30px 5px #F080B7;
    }
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-content h3 {
    margin: 0;
  }
  
  .card-content p {
    margin: 0;
  }
  .centered-text {
    animation: slideCenter 1s ease-in-out forwards;
    text-align: center;
  }
  
  @keyframes slideCenter {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .display-2{
    text-align: center;
  }

  .swipe {
    text-align: center;
  }


  /* education & expierence */
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    /* margin: 20px; */
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #F080B7;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline>li {
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline>li:before,
  .timeline>li:after {
    content: " ";
    display: table;
  }
  
  .timeline>li:after {
    clear: both;
  }
  
  .timeline>li:before,
  .timeline>li:after {
    content: " ";
    display: table;
  }
  
  .timeline>li:after {
    clear: both;
  }
  
  .timeline>li>.timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #F080B7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 6px 9px black ;
    box-shadow: 0 6px 9px black;
    background-color: #F080B7;
  }
  
  .timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #F080B7;
    border-right: 0 solid #F080B7;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #F080B7;
    border-right: 0 solid #F080B7;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline>li>.timeline-badge {
    color: #F080B7;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: black;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
  }
  
  .timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge.primary {
    background-color: white;
  }
  
  .timeline-badge.success {
    background-color: white;
  }
  
  .timeline-badge.warning {
    background-color: white;
  }
  
  .timeline-badge.danger {
    background-color: white;
  }
  
  .timeline-badge.info {
    background-color: white;
  }
  
  .timeline-title {
    margin-top: 10px;
    margin-bottom: 20px;
    color: inherit;
  }
  
  .timeline-body>p,
  .timeline-body>ul {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .timeline-body>p+p {
    margin-top: 5px;
  }

  @media only screen and (max-width: 590px) {
   
    .education.container-fluid {
      width: 89%;
  }
  }
  @media only screen and (max-width: 450px) {
    .timeline-panel {
      padding: 10px;
  }
  .timeline-panel p {
    font-size: 12px;
  }
  h4.timeline-title {
      font-size: 16px;
  }
  }
  @media only screen and (max-width: 380px) {
    .timeline-panel p {
    font-size: 9px;
  }
  h4.timeline-title {
      font-size: 12px;
  }
  }
  @media only screen and (max-width: 350px) {
    .card {
      width: 90%;
    }
  }

  /* projects */
  .projects {
    color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
}
  .accordion {
    width: 75%;
    margin: auto;
    --bs-accordion-bg: #F080B7 ;
}

button.accordion-button.collapsed {
    color: black;
    background: white;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 #ffffff;
}

.accordion-header {
    color: black;
}

.accordion-body {
    background: white;
    color: black;
    padding: 50px;
}

.project-imgs {
    width: 500px;
    margin-bottom: 20px;
}

.desc {
    margin-bottom: 20px;
}

.pro-link {
    padding: 15px;
    width: 350px;
    color: black;
    background: white;
    border: 1px solid black;
    margin-bottom: 15px;
    box-shadow: #F080B7;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.pro-link:hover {
    box-shadow: 0 0 30px 5px #F080B7;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.buttons {
    display: flex;
    flex-direction: column;
}

.swipe {
    font-size: 12px;
}

@media only screen and (max-width: 570px) {
    .pro-link {
      width: 90%;
    }
  }

@media only screen and (max-width: 570px) {
    .pro-link {
      width: 90%;
    }
  }

/* reach me */
h1 {
    color: black;
    margin-bottom: 70px;
    margin-top: 20px;
}
.contact {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.form {
    width: 50%;
    height: 80vh;
    margin: auto;
}
::placeholder{
    color: black;
}
input, textarea {
    background:#F080B7;
    border-radius: 0px;
    padding: 20px;
    color: black;
}
input:hover, textarea:hover {
    background: #F9D9E6;
    color: white;
}
.inputbox {
    width: 100%;
    margin: auto;
}
.formbuttons {
    width: 100%;
    color: white;
    background: #F080B7;
    border: 1px solid #F9D9E6;
    padding: 15px;
    height: 80px;
}
.formbuttons:hover {
    background: #F080B7;
    color: black;
}
input {
    height: 80px;
}
@media only screen and (max-width: 425px) {
  ::placeholder {
    font-size: 13px;
  }
}
  
/* skills */
  .skill-imgs {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .skill-imgs2 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .logos {
    /* aspect-ratio: 5/4; */
    height: 100px;
    margin-bottom: 20px;
  }
  
  .blocks {
    background-color: #F080B7;
    padding: 20px;
    border: 2px solid white;
    width: 250px;
    box-shadow: white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .blocks:hover {
    transform: scale(1.08);
    transition: all 0.5s;
    box-shadow: 0 0 8px 3px white;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  @media only screen and (max-width: 1340px) {
    .skill-imgs, .skill-imgs2 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .blocks {
      margin: 20px;
    }
  }
  @media only screen and (max-width: 750px) {
     .images {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
    .card {
      margin-bottom: 20px;
    }
  }
  
  